# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
go.work.sum

# env file
.env
.idea/.gitignore
.idea/go-lambda-example.iml
.idea/modules.xml
.idea/terraform.xml
.idea/vcs.xml
.idea/inspectionProfiles/Project_Default.xml
terraform/.terraform/providers/registry.terraform.io/hashicorp/aws/5.93.0/windows_386/LICENSE.txt
bin/create-note/lambda.zip
bin/delete-note/lambda.zip
bin/get-note/lambda.zip
bin/list-notes/lambda.zip
bin/update-note/lambda.zip
terraform/.terraform/providers/registry.terraform.io/hashicorp/aws/5.93.0/linux_amd64/LICENSE.txt
terraform/.terraform/providers/registry.terraform.io/hashicorp/aws/5.93.0/linux_amd64/terraform-provider-aws_v5.93.0_x5
